{% extends "base.html" %}
{% load static %}

{% block title %}{{ typology }}{% endblock %}
{% block page_title %}{{ typology }}{% endblock %}

{% block extra_head %}
<link rel="stylesheet" href="{% static 'css/lightbox.css' %}">
{% endblock %}

{% block content %}
<ul id="elenco_opere">
    {% for opera in opere %}
    <li>
        <a href="{{ opera.image.url }}" data-caption="{{ opera.content }}" title="{{ opera.title }}">
            {% if opera.thumb %}
            <img width="100" height="65" src="{{ opera.thumb.url }}" alt="{{ opera.title }}">
            {% endif %}
        </a>
    </li>
    {% empty %}
    <li>Nessuna opera disponibile.</li>
    {% endfor %}
</ul>
<script src="{% static 'js/lightbox.js' %}"></script>
{% endblock %}
