{% extends "base.html" %}

{% block title %}Contatti{% endblock %}
{% block page_title %}Contatti{% endblock %}

{% block content %}
<div id="contatti">
    {% if success %}
    <p class="msg-success">Il messaggio è stato inviato con successo. Verrete ricontattati al più presto.</p>
    {% else %}
    {% if error %}
    <p class="msg-error">{{ error }}</p>
    {% endif %}
    <p>Usate il form sottostante per inviare un messaggio a Luisa Valentini. Verrete ricontattati all'indirizzo email indicato.</p>
    <form method="post" id="form_contatti">
        {% csrf_token %}
        <p>
            <label>Indirizzo email</label>
            <input type="email" name="email" required>
        </p>
        <p>
            <label>Oggetto</label>
            <input type="text" name="subject" required>
        </p>
        <p>
            <label>Messaggio</label>
            <textarea name="message" rows="8" required></textarea>
        </p>
        <p>
            <button type="submit">Invia</button>
        </p>
    </form>
    {% endif %}
</div>
{% endblock %}
